--index-url https://download.pytorch.org/whl/cpu

torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

opencv-python==4.8.1.78
Pillow==10.0.0

PyQt5==5.15.9
PyQt5-sip==12.12.1

pyodbc==4.0.39
pandas==2.0.3

numpy==1.24.3
scipy==1.10.1

ultralytics==8.0.186

pathlib2==2.3.0
matplotlib==3.7.1
seaborn==0.12.2

jupyter==1.0.0
ipykernel==6.22.0
